

.HeaderText {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #000000;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-bottom: 0rem;
}

.herocircle {
  box-sizing: border-box;
  border-radius: 100%;
  position:absolute;
  right: 35px;
  bottom: 100px;
  width: 550px;
  height: 550px;
  padding: 0;
  background: #ffffff;
  border: 5px solid #d9d9d9;
}

.redhero {
  position: relative;
  max-width: auto;
  min-width: fit-content;
  height: 550px;
  background: #e5282c;
  border: 1px solid #000000;
  border-radius: 25px;
  box-sizing: border-box;
  margin-left: 4rem;
  margin-right: 5rem;
  margin-top: 3rem;
  padding-top: 10px;
  padding-bottom: 5rem;
}

.herotext {
  position: absolute;
  width: auto;
  height: 139px;
  left: 20px;
  top: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #d9d9d9;
}


#card_row {
flex-wrap: wrap;
justify-content: center;
}