.HeaderText {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #000000;
  margin: 8rem, 2rem;
}

.herocircle {
  box-sizing: border-box;
  border-radius: 100%;
  position:absolute;
  right: 35px;
  bottom: 450px;
  width: 475px;
  height: 475px;
  padding: 0;
  background: #ffffff;
  border: 5px solid #d9d9d9;
}

.redhero {
  position: relative;
  max-width: auto;
  min-width: fit-content;
  height: 750px;
  background: #e5282c;
  border: 1px solid #000000;
  border-radius: 25px;
  box-sizing: border-box;
  margin: 5rem;
}

.herotext {
  position: absolute;
  width: auto;
  height: 139px;
  left: 20px;
  top: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #d9d9d9;
}

.card {
  position: absolute;
  width: 245px;
  height: 275px;
  left: 124px;
  top: 697px;
  background: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

#cardsample {
  position: absolute;
  width: 245px;
  height: 275px;
  left: 124px;
  top: 697px;
  background: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
