.HeaderText {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #000000;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-bottom: 0rem;
}

.herocircle {
  position: absolute;
}

.herocircle img {
  height: 660px;
  width: 1000px;
  margin-top: 170px;
  padding-left: 20px;
  border-top-left-radius: 225px;
  border-top-right-radius: 225px;
}

#redhero {}

#redhero h1 {
  color: white;
  padding-left: 185px;
  padding-top: 20px;
}

.checkbox {
  margin: 14px 0 14px 0;
}

.checkbox label {
  padding-left: 20px;
}

#whitehero {
  margin-right: 32%;
  width: 350px;
  height: 700px;
  background: #ffffff;
  border: 10px solid rgb(66, 137, 225);
  border-radius: 50%;
  box-sizing: border-box;
  /* margin-left: 3rem;
    margin-top: 3rem;
    padding-top: 7px;
    padding-bottom: 5rem; */
}


.herotext {
  position: absolute;
  padding-left: 33%;
  padding-top: 55px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #000000;
}

.herotext-emphasized {
  padding-top: 91px;
  padding-left: 50%;
  font-family: "Poppins";
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  color: rgb(165, 6, 6);
  text-decoration: underline;
}

.card-spot {
  position: absolute;
  top: 410px;
  width: 100%;
  background-color: white;
  padding-top: 20px;
}

#custom-cards {
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  height: 382px;
  text-align: end;
}

#custom-cards img {
  border-radius: 10px;
}

/* .me-auto {
  align-content: baseline;
} */

.form-group {
  margin: 0;
  /* padding-bottom: 4px; */
}

form {
  max-width: 50%;
  bottom: 0;
  /* align-self: flex-end; */
  /* align-items: center; */
  /* margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 145px; */
  padding-top: 70px;
}

label {
  margin-bottom: 0px;
  margin-top: 0;
}

#howitworks p {
  margin-top: 200px;
  /* height: 400px;
  background-color: #e5282c;
  width: auto;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-bottom: 3rem; */
}

@media screen and (min-width: 740) {
  .herocircle {
    box-sizing: border-box;
    flex-shrink: 5;

    right: 25px;
    bottom: 200px;
    width: 150px;
    height: 150px;
    padding: 0;
  }
}