/* https://www.figma.com/file/Yj1NHCSrwC5zT1LCncVyXr/Tonies?node-id=103%3A2&t=cRnv1VjcPhezKqmj-1 */

/* Header */
.header {
  height: 100px;
}
.HeaderText {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 49px;
  line-height: 60px;
  color: rgb(165, 6, 6);
  padding-top: 2rem;
  padding-left: 4rem;
  float: left;
}

.SignupText {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 49px;
  line-height: 60px;
  padding-top: 2rem;
  padding-right: 3rem;
  float: right;
}

#bluecircle {
  /* margin-right: 32%; */
  /* width: 1000px; */
  height: 700px;
  border: 25px solid rgb(66, 137, 225);
  border-radius: 50%;
  box-sizing: border-box;
  /* margin-left: 3rem;
    margin-top: 3rem;
    padding-top: 7px;
    padding-bottom: 5rem; */
}

/* Toni box image */
.herocircle {
  position: absolute;
  /* width: 1300px; */
  /* height: 1300px; */
}

.herocircle img {
  height: 650px;
  width: 100%;
  margin-top: 170px;
  padding-left: 220px;
  /* border-top-left-radius: 185px;
  border-top-right-radius: 225px; */
}

#hero-cover {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 500px;
}

.herotext {
  position: absolute;
  padding-left: 33%;
  padding-top: 55px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #000000;
}

.herotext-emphasized {
  padding-top: 91px;
  padding-left: 50%;
  font-family: "Poppins";
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  color: rgb(165, 6, 6);
  text-decoration: underline;
}

/* Sign-up Container & Form */

#signup-form-container {
  background: #E42E30;
  height: 450px;
}

/* #signup-form {
  height: 400px !;
  width: 340px !; */
  /* background: #E42E30 border-radius: 15px; */
/* } */

#signup-form p {
  font-size: 16px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
}

.form button {
  margin-top: 5px;
}

/* Toni cards */
.card-spot {
  position: absolute;
  top: 610px;
  width: 100%;
  background-color: white;
  /* padding-top: 20px; */
}

#custom-cards {
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  height: 382px;
  text-align: end;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid black;
}

#custom-cards img {
  border-radius: 10px;
}

/* .me-auto {
  align-content: baseline;
} */

/* Membership */

#howitworks {
  background-color: white;
  height: 300px;
  margin-bottom: 50px;
}

#howitworks h2 {
  margin-top: 225px;
  margin-bottom: 22px;
  text-align: center;
  word-spacing: 9px;
}

#member-basic {
  border: 1px solid black;
  border-radius: 15px;
  float: left;
  width: 400px;
  margin-left: 20%;
  height: 250px;
  padding-top: 5px;
  background: rgba(252, 233, 81, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

#member-basic h3 {
  text-align: center;
}

#member-basic button {
  border: 1px solid black;
  border-radius: 15px;
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#member-basic li {
  margin-left: 4%;
  padding-top: 5px;
  font-size: 16px;
}

#member-premium {
  border: 1px solid black;
  border-radius: 15px;
  float: right;
  width: 400px;
  margin-right: 20%;
  background: rgba(87, 173, 222, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  height: 250px;
  padding-top: 5px;
}

#member-premium h3 {
  text-align: center;
}

#member-premium button {
  border: 1px solid black;
  border-radius: 15px;
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#member-premium li {
  margin-left: 4%;
  padding-top: 5px;
  font-size: 16px;
}

/* Footer */

Footer {
  width: 98%;
}

Footer p {
  margin-right: 4%;
  font-weight: bold;
  font-size: 23px;
}

Footer li {
  padding-right: 10%;
  padding-top: 1%;
}

/* Media screen */
@media screen and (min-width: 740) {
  .herocircle {
    box-sizing: border-box;
    flex-shrink: 5;
    right: 25px;
    bottom: 200px;
    width: 150px;
    height: 150px;
    padding: 0;
  }
}